extends ../layouts/admin.jade
block contents
	h1 Thông tin trang web
	case status
		when "success"
			div(class="alert alert-success")
				p #{message}

		when "error"
			div(class="alert alert-danger")
				p #{message}

	form(method="POST", action='', name='add-general')
		-if(general){
		div.form-group
			label(for='website') Tên website:
			|     
			input#website.form-control(type='text' name='website' value='#{general.website}')
			|   
		div.form-group
			label(for='company') Tên công ty:
			|     
			input#company.form-control(type='text' name='company' value='#{general.company}')

		div.form-group
			label(for='descriptions') Mô tả về công ty:
			|     
			textarea#descriptions.form-control(row='5' name='descriptions') #{general.descriptions}
			|   
		div.form-group
			label(for='hotline') Hotline:
			|     
			input#hotline.form-control(type='text' name='hotline' value='#{general.hotline}')
		div.form-group
			label(for='hotlinecskh') Hotline CSKH:
			|     
			input#hotline.form-control(type='text' name='hotlinecskh' value='#{general.hotlinecskh}')
		div.form-group
			label(for='email') Email:
			|     
			input#email.form-control(type='email' name='email' value='#{general.email}')
		div.form-group
			label(for='emailcskh') Email CSKH:
			|     
			input#email.form-control(type='email' name='emailcskh' value='#{general.emailcskh}')
		div.form-group
			label(for='address') Address:
			|     
			input#address.form-control(type='address' name='address' value='#{general.address}')
		div.form-group
			label(for='address') Facebook:
			|     
			input#address.form-control(type='address' name='facebook' value='#{general.facebook}')
		div(class="form-group")
			div(class="")
				button(type="submit" class="btn btn-sm btn-primary") Cập nhật
		-} else{
		div.form-group
			label(for='website') Tên website:
			|     
			input#website.form-control(type='text' name='website')
			|   
		div.form-group
			label(for='company') Tên công ty:
			|     
			input#company.form-control(type='text' name='company')
		div.form-group
			label(for='descriptions') Mô tả về công ty:
			|     
			textarea#descriptions.form-control(row='5' name='descriptions')
			|   
		div.form-group
			label(for='hotline') Hotline:
			|     
			input#hotline.form-control(type='text' name='hotline')
		div.form-group
			label(for='hotlinecskh') Hotline CSKH:
			|     
			input#hotline.form-control(type='text' name='hotlinecskh')
		div.form-group
			label(for='email') Email:
			|     
			input#email.form-control(type='email' name='email')
		div.form-group
			label(for='emailcskh') Email CSKH:
			|     
			input#email.form-control(type='email' name='emailcskh')
		div.form-group
			label(for='address') Address:
			|     
			input#address.form-control(type='address' name='address')
		div.form-group
			label(for='facebook') Facebook:
			|     
			input#address.form-control(type='address' name='facebook')
		div(class="form-group")
			div(class="")
				button(type="submit" class="btn btn-sm btn-primary") Cập nhật
		-}