extends ../layouts/admin.jade
block contents
	h1 Thêm thành viên quản trị
	form(method="POST", action='', name='add-general')
		div.form-group
			label(for='fullname') Tên thành viên:
			|     
			input#fullname.form-control(type='text' name='fullname' value='#{user.fullname}')
			|   
		div.form-group
			label(for='username') Tên đăng nhập:
			|     
			input#username.form-control(type='text' name='username' value='#{user.username}' disabled)
		div.form-group
			input#username.form-control(type='hidden' name='usernamehd' value='#{user.username}')
		div.form-group
			label(for='password') Password:
				a(href='p-cpass') Nhấp vào đây để đổi password.
		div.form-group
			label(for='udescriptions') Mô tả về công việc:
			|     
			textarea#udescriptions.form-control(row='5' name='udescriptions') #{user.udescriptions}
			|   
		div.form-group
			label(for='email') Email:
			|     
			input#email.form-control(type='email' name='email' value='#{user.email}')
		div.form-group
			label(for='address') Address:
			|     
			input#address.form-control(type='address' name='address' value='#{user.address}')
		div(class="form-group")
			div(class="")
				button(type="submit" class="btn btn-sm btn-primary") Cập nhật